.booking-buttons {
    position: relative; 

    button {
        padding: 0.625rem 1.875rem; 
        background-color: $PrimaryColor; 
        color: #fff;
        margin-top: 1.5rem;
        position: relative;
    }
}

.auth-buttons {

    button {
        margin-left: 0.625rem; 
        padding: 0.75rem 2.5rem;  
        background-color: transparent;
        color: $PrimaryColor; 
    }

    .inscription-btn {
        background-color: $PrimaryColor; 
        color: #fff;
        border-radius: 2.5rem; 
    }
        
    .connexion-btn {
        margin-right: 1.25rem; 
    }
}

.booking-buttons, .auth-buttons {
    display: flex;
    align-items: center;

    button {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        border: 0.125rem solid $PrimaryColor;
        font-size: 0.9375rem;
        border-radius: 2.5rem;
        cursor: pointer;
    }
}